<Configuration>
	<Properties>
		<Property name="LOG_HOME">@{logFile}@</Property>
		<Property name="LOG_NAME">@{projName}@</Property>
	</Properties>

	<Appenders>
		<RollingRandomAccessFile name="Rolling" fileName="${LOG_HOME}/${LOG_NAME}.log"
			filePattern="${LOG_HOME}/${LOG_NAME}.log.%d{yyyy.MM.dd.HH}">
			<PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L[%t] - %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" />
				<SizeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_HOME}" maxDepth="1">
					<IfLastModified age="180d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L[%t] - %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.edstw" level="@{logLevel}@" additivity="true" />
		<Logger name="com.edstw.security.UserAuthorization" level="@{authLevel}@" additivity="true" />
		<Logger name="com.edstw.sql" level="@{sqlLogLevel}@" additivity="true" />
		<Logger name="com.edstw.sql.AbstractJdbcQueryService" level="@{abstractQueryLevel}@" additivity="true" />
		<Logger name="com.edstw.sql.filter.PreparedStatementLogger" additivity="true" level="INFO" />
		<Logger name="com.edstw.sql.filter.StatementLogger" additivity="true" level="INFO" />
		<Logger name="org.apache" level="WARN" additivity="true" />
		<Logger name="net.sf.jasperreports" level="WARN" additivity="true" />
		<Logger name="org.apache.tomcat.util.http.Parameters" level="WARN" additivity="true" />
		<Logger name="org.displaytag" level="WARN" additivity="true" />
		<Logger name="com.opensymphony.xwork2" additivity="true" level="WARN" />

		<Root level="ALL">
			<AppenderRef ref="Rolling" level="@{logLevel}@" />
		</Root>
	</Loggers>

</Configuration>
