/*
 * ==============================================================================================
 * $Id: folding.css,v 1.1 2014/01/02 02:54:33 asiapacific\hungmike Exp $
 * ==============================================================================================
 */
.collapsableTable {
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}
.collapsableMark {
	vertical-align: top;
	/*
	border-top: solid 1px #333366;
	border-left: solid 1px #333366;
	border-bottom: solid 1px #333366;
	*/
}
.collapsableBlock {
	position: relative;
	display: inline;
}
.openedBlock {
	width: 100%;
	text-align: center;
}
.collapsedBlock {
	width: 100%;
	background-color: #CCFFCC;
	/*
	border-top: solid 1px #333366;
	border-right: solid 1px #333366;
	border-bottom: solid 1px #333366;
	*/
}
.foldingTable {
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}
.foldingBlock {
	position: static;
	margin-top: 1em;
}

.foldingBlock #ajaxResultBlock {
	margin-top: 0;
}

.foldingMark {
	vertical-align: top;
	width: 8px;
	/*
	border-top: solid 1px #333366;
	border-left: solid 1px #333366;
	border-bottom: solid 1px #333366;
	*/
}
.foldingArea {
	vertical-align: top;
	width: 8px;
	/*
	border-top: solid 1px #333366;
	border-left: solid 1px #333366;
	border-bottom: solid 1px #333366;
	*/
}
.foldingOpened {
	width: 100%;
	/*text-align: center;*/
}
.foldingCollapsed {
	width: 100%;
	/*
	border-top: solid 1px #333366;
	border-right: solid 1px #333366;
	border-bottom: solid 1px #333366;
	*/
}
