/*
 * ==============================================================================================
 * $Id: prado.css,v 1.1 2014/01/02 02:54:49 asiapacific\hungmike Exp $
 * ==============================================================================================
 */
/* 確保日期選單會顯示在最上層 */
body .TDatePicker_default
{
	z-index: 999;
}
/* 設定上下個月button的style  */
.TDatePicker_default input.prevMonthButton, .TDatePicker_default input.nextMonthButton
{
	font-size: 11px;
	width: 32px;
}
/* 因為在block中的table大多有預設的寬度(100%), 所以此處必須強制設定. 若DatePicker顯示上有問題, 可能是有其他的style被套用, 應一併加入此設定中. */
.TDatePicker_default table {
	width: auto !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
